.container-1 {
    position: relative;
    overflow: hidden;
    width: 70%;
    max-width: 100%;
    min-height: 600px;
    margin: 5% auto;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button.ghost {
    background: transparent;
    border-color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 15%;
    font-size: 20px;
    color: var(--primary-color);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
    background-image: url('../../assets/signup.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container-1.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container-1.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container-1.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container-1.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container-1.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container-1.right-panel-active .overlay-right {
    transform: translateY(20%);
}