/* Variables */
:root {
  --primary-color: #EC57B4;
  --primary-color-hover: #ED6FBE;
  --gray-color: #5B5B5B;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: 0 0 1px #000 inset;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-hover);
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:where(.css-dev-only-do-not-override-12jzuas)[class^="ant-layout"],
:where(.css-dev-only-do-not-override-12jzuas)[class*=" ant-layout"] {
  font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* Main Style */
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

/* Utilities */
.light-text {
  font-size: 15px;
  color: var(--gray-color);
}