.card {
    width: 300px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    align-self: self-start;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

:where(.css-dev-only-do-not-override-12jzuas).ant-card .ant-card-body {
    padding: 14px;
}

.css-dev-only-do-not-override-12jzuas.ant-btn-dashed:hover {
    color: #ff40e2;
    border-color: #ff40e2;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.css-dev-only-do-not-override-12jzuas.ant-card {
    margin-bottom: 40px;
}

.flags,
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flags img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}



@media screen and (max-width: 576px) {
    :where(.css-dev-only-do-not-override-12jzuas).ant-row {
        grid-template-columns: 1fr;
    }
}