:where(.css-dev-only-do-not-override-12jzuas).ant-col-md-15 {
  margin: 13% auto;

}

:where(.css-dev-only-do-not-override-12jzuas).ant-form-item {
  margin-bottom: 20px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-form-item .ant-form-item-control-input {

  margin-bottom: 20px;
}

.auth-form .form-password .ant-input-password,
.auth-form .form-text input,
.auth-form .form-text input:hover,
.auth-form .form-text input:focus {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
}

.or {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.or:before,
.or:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #c1c0c0;
  margin: auto 5px;
}

.register {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}

.light-text.p {
  text-align: center;
}

.error-message.e {
  text-align: start;

}