.main-layout {
  height: calc(100vh - 62px);
  overflow: hidden;
}

.side-bar {
  background-color: #fff !important;
  height: 100%;
  width: 20%;
}

.side-bar main.ant-layout-content.css-dev-only-do-not-override-12jzuas {
  margin: 0 !important;
  height: 100% !important;
  padding: 15px;
}

.side-bar .users-box {
  height: 100% !important;
  margin-top: 10px;
  overflow-y: auto !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  transition: 0.2s;
  border-radius: 5px;
}

.user.active {
  transform: translateX(5px);
  border-left: 5px solid var(--primary-color);
  background-color: #f5f5f5;
}

.user.online .ant-image::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #00d800;
}

form button.disabled {
  opacity: 0.6;
  cursor: auto;
}

.css-dev-only-do-not-override-12jzuas.ant-btn,
.css-dev-only-do-not-override-12jzuas.ant-input-affix-wrapper-lg {
  border-radius: 19px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--primary-color);
}

.ant-input-affix-wrapper .ant-input-affix-wrapper-lg .css-dev-only-do-not-override-12jzuas {
  outline: none;
  border: none;
  box-shadow: none;
}

.react-input-emoji--container {
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9 !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input-affix-wrapper:focus {
  box-shadow: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--primary-color) !important;
}

main.ant-layout-content.css-dev-only-do-not-override-12jzuas {
  display: flex;
  flex-direction: column;
}

.user-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
}

.sider-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-wraper {
  overflow-y: scroll;
  height: 100vh;
}

.conversation {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  min-height: 95% !important;
  flex-direction: column;
  justify-content: flex-end;
}

.user_input {
  background-color: #fff;
  padding: 10px 15px;
}

.user_input form {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: auto;
}

.user_input input {
  flex: 1;
  padding: 7px 11px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  border-radius: 19px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input:hover {
  border-color: var(--primary-color);
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin: 0.3rem 0.65rem;
}

.message {
  padding: 0.6rem 1rem !important;
  background-color: var(--gray-color);
  color: #fff;
  font-size: 1rem;
  border-radius: 1rem 1rem 1rem 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 5px;
}

.message p {
  word-wrap: break-word;
}

.message.own {
  margin-left: auto;
  border-radius: 1rem 1rem 0 1rem;
  background-color: var(--primary-color);
  margin-left: auto;
}

.controler {
  display: flex;
  align-items: center;
}

.features {
  width: 100%;
  display: flex;
  gap: 10px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-alert {
  font-size: 9px;
  padding: 2px;
}

.copy-alert {
  position: absolute;
  top: -19px;
  left: -9px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary {
  background-color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary:not( :disabled):hover {
  background-color: var(--primary-color-hover);
}

.language-choices {
  display: flex;
  align-items: center;
  gap: 5px;
}

.select-title {
  font-size: 11px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-single .ant-select-selector .ant-select-selection-item,
:where(.css-dev-only-do-not-override-12jzuas).ant-select-single.ant-select-sm .ant-select-selector .ant-select-selection-item {
  font-size: 11px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-dropdown .ant-select-item-option-content {
  font-size: 10px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-dropdown .ant-select-item {
  padding: 1px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 0;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse {
  border: none;
  color: white;
  flex: 1;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg {
  color: white;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  padding: 0;
  display: block;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse>.ant-collapse-item:last-child,
:where(.css-dev-only-do-not-override-12jzuas).ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border: none;
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse .ant-collapse-content,
:where(.css-dev-only-do-not-override-12jzuas).ant-collapse .ant-collapse-item:last-child>.ant-collapse-content {
  border: none;
  border-radius: 5px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-collapse-small>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  border-radius: 5px;
  background-color: #f5f5f5;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--primary-color);
  color: #fff;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #d9d9d9;
}

.no-contacts-text {
  text-align: center;
  font-weight: bold;
  color: var(--gray-color);
}

:where(.css-dev-only-do-not-override-12jzuas) a:hover {
  color: var(--gray-color);
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input-search .ant-input:hover {
  border-color: var(--primary-color);
}

:where(.css-dev-only-do-not-override-12jzuas).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 6px;
}

.no-contacts {
  text-align: center;
  color: var(--gray-color);
}

@media (max-width: 990px) {
  .message {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .message {
    width: fit-content;
    max-width: 500px;
  }

  .user_input form {
    width: 100%;
  }
}