.community {
    width: 70%;
    margin: 0 auto;
}

.css-dev-only-do-not-override-12jzuas.ant-col-8 {
    margin-bottom: 39px;
}

.css-dev-only-do-not-override-12jzuas.ant-btn,
.css-dev-only-do-not-override-12jzuas.ant-input-affix-wrapper-lg {
    border-radius: 19px;
}

.css-dev-only-do-not-override-12jzuas.ant-input-affix-wrapper {
    width: 30%;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.css-dev-only-do-not-override-12jzuas.ant-btn-default:hover{
    color: #ff40e2;
    border-color: #ff40e2;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
    border-color: #ff40e2;
    color: #ff40e2;
}